body {
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
}
div {
  text-align: center;
  color: #eee;
}
.button {
  border-radius: 5px;
  border: none;
  padding: 5px;
  margin-top: 10px;
}
